<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio Nr. 6</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--Bootstrap 4-->
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body class="bg-dark">
    <header class="sticky-top">
        <nav class="navbar navbar-inverse navbar-expand-sm bg-success navbar-dark shadow-lg z-depth-5">
            <div class="container-fluid">
                <div class="nav-header">
                    <a id="home" class="navbar-brand" href="/">Portfolio Nr. 6</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container text-light">
        <main role="main" class="pb-3">
            <!--Body soll mittig ausgerichtet sein-->
            <div class="text-center">
                <h1 class="display-3"> Überprüfung und Verarbeitung eines Strings mit ASP.Net </h1>
                @RenderBody()
            </div>
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
