body {

}



/* Header */
.navbar {
   padding: 10px 5% 10px;
}
#home {
    font-size: 20pt;
}



/* Headings */
h1 {
    margin-top: 60px;
    margin-bottom: 70px;
}



/* Index */
#startButton {
    position: absolute;
    vertical-align: central;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 55%;
}



/* Formatting */

.paragraph {
    line-height: 2;
}
.myButton {
    width: 30px;
}

