@page
@model IndexModel
@{
    //ViewData["Title"] = "Home page";
}


<form method="get" action="/Main">
    <button type="submit" id="startButton" class="btn btn-success btn-lg shadow-lg rounded">Anwendung starten</button>
</form>

