@page
@model ASPdotNet_StringVerarbeitung.Pages.stringProcessingModel
@{
}

<h1 class="display-4"> Überprüfung und Verarbeitung eines Strings mit ASP.Net </h1>
<form method="post">
    <p>
        Bitte geben Sie hier eine beliebige Zeichenkette ein. <br /> <br />
        <b>Hinweis: </b>Achten Sie darauf, dass die Zeichenkette <u>mindestens</u> aus 10 Wörtern besteht. <br /> <br />
        Viel Spaß mit der App :-)
    </p>
    <p>
        Zeichenkette:
        <textarea asp-for="inputString" placeholder="Zeichenkette eingeben"></textarea>
    </p><br />
    <button type="submit">Absenden</button>
</form>

<h2 class="display-4"> Überarbeitete Zeichenkette </h2>
@if (true)
{
    <p>Neue Zeichenkette: @ViewData["result"]</p>
}
else
{
    <p>Es wurde noch keine Zeichenkette eingegeben.</p>
    <p></p>
}

